


.italics {
	font-style: italic;
}


body {
	display: flex;
	flex-direction: column;
	font-family: 'Questrial', sans-serif;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-around;
	background: pink;
}

main {
	margin: auto;
	height: 600px;
	width: 70%;
	border: 1px solid black;
}

.flex-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
	margin: auto;
	height: 600px;
}


/*WHY YOU NO WORK*/
/*SERIOUSLY, WHY. YOU'RE KILLING ME.*/
/*DO YOU WANT ME TO SUFFER? IS THIS YOUR GOAL?*/
.flex-image {
	flex-direction: row;
	max-width: 40vh;
	min-width: 40vh;
	margin-right: 3rem;
}

form {
	flex-direction: row;
}

.flex-text {
	flow-direction: row;
}

nav {
	display: inline-block;
	float: right;
}

footer {
	background: #98FB98;
	display: inline;
}
